.background-suny {
    background-image: url("/src/imgs/suny.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    height: 120vh;
    width: 120vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.background-cloudy {
    background-image: url("/src/imgs/cloudy.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    height: 120vh;
    width: 120vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.background-rainy {
    background-image: url("/src/imgs/rainy.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    height: 120vh;
    width: 120vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.background-night {
    background-image: url("/src/imgs/night.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    height: 120vh;
    width: 120vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    position: relative;
    z-index: 1;
}