.display-box {
    height: 500px;
    width: 700px;
    background-color: rgb(255, 255, 255, 0.4);
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.temp {
    position: absolute;
    left: 76%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.weather-suny-img {
    background-position: center;
    background-size: cover;
    background-image: url("../imgs/suny-1.png");
    height: 200px;
    width: 200px;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: suny 3s infinite linear;
}

@keyframes suny {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.weather-rainy-img {
    background-position: center;
    background-size: cover;
    background-image: url("../imgs/rainy-1.png");
    height: 200px;
    width: 200px;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rainy 1s infinite;
}

@keyframes rainy {
    0% {
        left: 20%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 20%;
    }
}

.weather-cloudy-img {
    background-position: center;
    background-size: cover;
    background-image: url("../imgs/cloudy-1.png");
    height: 160px;
    width: 200px;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: cloudy 1s infinite linear;
}

@keyframes cloudy {
    0% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
}

.title {
    position: relative;
    text-align: center;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.description {
    position: relative;
    text-align: center;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

@media screen and (max-width: 785px) {
    .display-box {
        height: 60%;
        width: 90%;
    }
}